<!DOCTYPE html>
<html>
    <head>
    <p>Booking added to your basket!</p>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
    <form action="/basket" method="GET">
    <button type="submit">View your basket</button>
    </form>
    <form action="/listings" method="GET">
    <button type="submit">View listings</button>
  </form>
  
    </body>
</html>