<html>
<head>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background: url(http://wallpapercave.com/wp/aZlqiAT.png) 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
}
nav {
  width: 420px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  /* -webkit-clip-path: rect(0px 0px 0px 0px);
  clip-path: rect(0px 0px 0px 0px); */
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}
nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  /* -webkit-clip-path: rect(0px 20px 20px 0px);
  clip-path: rect(0px 180px 60px 0px); */
  -webkit-clip-path: circle(340px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}
{
  display: block;
  line-height: 30px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:hover { background: #FFE082; }
a:active { background: #FFCA28; }
.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}
.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}
.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}
.navicon div:before { top: -7px; }
.navicon div:after { top: 7px; }
</style>
</head>
<body>
<h1 style="text-align:center"> MakersBNB</h1>
<nav>
  <div class="navicon">
    <div></div>
  </div>
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
  <a href="/account">Account</a>
  <a href="/listings">All Listings</a>
  <a href="/listings/newlisting">Make a listing</a>
    <a href="/logout">Logout</a>


</nav>
        <h3>Welcome to MakersBNB</h3>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
      
    </head>
    <body>

        <button>
        <a href="/login">Login</a>
        </button>
        <button>
        <a href="/signup">Signup</a>
        </button>
<br>
<br>
        <table>
<tr>
<img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Trulli" width="300" height="190">
</tr>
<br>
<tr><p style="color:white;"> <i>MakersBNB has some lovely places to stay such as this cottage</i></p>
</tr>
<tr>
<img src="https://www.escapeartist.com/wp-content/uploads/2019/03/image2-5.jpg" width="300" height="190"></tr>
<br>
<tr>
<p style="color:white;">
<i>...Including this huge decorative hole, which doesn't keep the rain out - but it looks nice.</i></p>
</tr>

<tr><img src="https://c4.wallpaperflare.com/wallpaper/396/364/992/grand-theft-auto-grand-theft-auto-v-wallpaper-preview.jpg" width="300" height="190"></tr>
<tr>
<br>
<p style="color:white;">
<i>......Also inexplicably we somehow have places to stay inside of a video game, don't ask me how it works - it just does.</i>
</p>
</tr>
</table>

        </body>
</html>