<html>
<head></head>
<body>
    <h1> All Listings</h1>
    <% @listings.each do |listing| %>

    <div>

    <h3> Name of listing: <%=listing.title %> </h3>
   <p> Description of listing: <%=listing.description %> </p>
    <a href="/listings/<%=listing.listing_id%>">View listing:</a>
    </div>
    <% end %>

    </body>
    </html>
