<html>
<head> <h1> Add a new listing </h1> </head>

<body>

<form action="/listings" method="POST">
 <div>
 <label> Destination Title: </label>
  <input type="text" name="title">
  <br>
  <label> Destination Description: </label>
  <input type="text" name="description">
  <br>
  <label> Destination Available From: </label>
  <input type="text" name="start_date">
  <br>
  <label> Destination Available To: </label>
  <input type="text" name="end_date">
  <br>
  <label> Destination Price Per Night:</label>
  <input type="float" name="price">
  <br>
  <input type="submit" value="Submit the form">
</div>
  </form>
<img src="https://m.media-amazon.com/images/I/71W55OOaLIL._AC_SL1200_.jpg"></img>


</body>
</html>